<!-- Tailor needs an index.html -->
<h1>Micro-front ends POC with Tailor</h1>
<div id="app2-root"></div>

<script src="http://localhost:3000/static/js/bundle.js"></script>
<script src="http://localhost:3000/static/js/1.chunk.js"></script>
<script src="http://localhost:3000/static/js/main.chunk.js"></script>
<script src="http://localhost:3006/static/js/bundle.js"></script>
<script src="http://localhost:3006/static/js/1.chunk.js"></script>
<script src="http://localhost:3006/static/js/main.chunk.js"></script>
<fragment src="http://localhost:3000"></fragment>
<fragment src="http://localhost:3006"></fragment>
<fragment src="http://localhost:8081"></fragment>



